# Ограничитель асинхронных запросов
aiolimiter

# Основные библиотеки для работы с данными и вычислений
numpy
pandas

# Визуализация
matplotlib
seaborn
plotly

# Парсинг и хранение данных
pyarrow
python-binance

# Технический анализ
ta
vectorbt

# Тестирование
pytest
